*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#padre{
	display: grid;
/*	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);*/
	grid-template-areas: 
	"uno"
	"dos"
	"tres";
	grid-gap: 2rem;
	min-height: 80vh;
	margin: auto;
	width: 100%;
	padding: 20px;
}

	@keyframes anima{
		0%{background-position: 5% 0%;}
		50%{background-position: 96% 100%;}
		100%{background-position: 5% 0%;}
}

.uno{
	grid-area: uno;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.dos{
	grid-area: dos;
}

.tres{
	grid-area: tres;
	background-size: cover;
	background-position: center;
}


.uno, .dos, .tres{
	padding: 1.8rem;
	transition: all 200ms ease-in-out;
	background: linear-gradient(135deg,  #7db9e8 0%,#ea542e 25%,#207cca 49%,#2989d8 50%,#f74831 59%,#ef2fdf 71%,#2fdaed 82%,#1e5799 92%);
	animation: anima 42s linear infinite;
	background-size: 1000% 1000%;
}


.scale:hover{
	transform: scale(1.1);
}

.bgColorGrey{
	background-color: #ccc;
}

.borders{
	border: 1px solid #000;
	border-radius: 1.5rem;
}


@media all and (min-width: 768px){
#padre{
	grid-template-areas: 
	"uno dos"
	"uno tres";
	width: 50%;	
}

.tres{
	grid-area: tres;
}

}